@font-face {
    font-family: 'Merriweather';
    src: url('./assets/fonts/Merriweather-Regular.ttf') format('truetype'),
         url('./assets/fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('./assets/fonts/Lora-Regular.ttf') format('truetype'),
         url('./assets/fonts/Lora-Bold.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
